<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Memebrship</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="src/main/resources/static/style.css">
</head>
<body>

<div class="heading">

    <h1>AIST GYM Membership Form</h1>

</div>

<div class="picture">
<img th:src="@{/gym.jpg}" style="width:100%; height:auto;">
</div>

<div class="form">
<form>
    <div class="form-group w-25" >
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group w-25">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" name="surname">
    </div>

    <div class="form-group w-25">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email">
    </div>

    <div class="form-group w-25">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" value="(+994)">
    </div>

    <div class="form-group w-25">
        <label for="passId">Passport Id</label>
        <input type="email" class="form-control" name="passId">
        <small id="emailHelp" class="form-text text-muted">This will not be shared with anyone else</small>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample1">Male</label>
    </div>

    <!-- Group of default radios - option 2 -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
        <label class="custom-control-label" for="defaultGroupExample2">Female</label>
    </div>

        <br><br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>

</body>
</html>