<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Membership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="heading">

    <h1>AIST GYM Membership Form</h1>

</div>

<div class="picture">
<img th:src="@{/gym.jpg}" style="width:100%; height:auto;">
</div>

<div class="form">
<form action="#" th:action="@{/gym}" th:object="${gym}"  method="post" >
    <div class="form-group w-25" >
        <label >Name</label>
        <input  th:field="*{name}" type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group w-25">
        <label >Surname</label>
        <input th:field="*{surname}" type="text" class="form-control" id="surname" required>
    </div>

    <div class="form-group w-25">
        <label >Email</label>
        <input th:field="*{email}" type="email" class="form-control" id="email" required>
    </div>

        <label>Phone</label>
    <div class="form-group w-25 form-inline" >
        <select th:field="*{seNo}" class="form-control">
            <option value="(+994)">+994</option>
            <option  value="(+456)">+456</option>
            <option  value="(+234)">+234</option>
            <option  value="(+345)">+345</option>
        </select>
        <input th:field="*{phone}" type="text" maxlength="9" class="form-control" id="phone" style="margin-left: 5px" required >
    </div>

    <div class="form-group w-25">
        <label >Passport Id</label>
        <input th:field="*{passId}" type="text" class="form-control" id="passId" required>
        <small class="form-text text-muted">This will not be shared with anyone else</small>
    </div>

    <div class="radio">
        <label><input th:field="*{gender}" type="radio" value="Male" id="male" required >Male</label>
        <label><input th:field="*{gender}" type="radio" value="Female" id="female" required>Female</label>
    </div>

        <br>
    <button type="submit" class="btn btn-success" onclick="success()">Submit</button>
</form>
</div>

<script>
    function success(){
        var f1=document.getElementById("name").value;
        var f2=document.getElementById("surname").value;
        var f3=document.getElementById("email").value;
        var f4=document.getElementById("phone").value;
        var f5=document.getElementById("passId").value;
        var f6=document.getElementById("male").value;
        var f7=document.getElementById("female").value;

        if(f1 !='' && f2 !='' && f3 !='' && f4 !='' && f5 !='' && f6 !='' && f7 !='' ) {

                   alert("You have successfully signed in")
        }
    }
</script>

</body>
</html>