<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>

</head>
<body>
<div>
<table border="1px" style="border-collapse:collapse;">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>PassID</th>
        <th>Gender</th>
    </tr>

    <tr th:each="member : ${members}">
        <td th:text="${member.name}">Name</td>
        <td th:text="${member.surname}">Surname</td>
        <td th:text="${member.email}">Email</td>
        <td th:text="${member.seNo}+''+${member.phone}">Phone</td>
        <td th:text="${member.passId}">Password ID</td>
        <td th:text="${member.gender}">Gender</td>

    </tr>
</table>
</div>
<br><br>
<a href="/gym">Return to Registration Page</a>
</body>
</html>